<h1>
  Player 1 Name: <%= @player_1_name %>! <br>
  Player 2 Name: <%= @player_2_name %>! <br>
  Let's battle!!! <br>
  <%= @player_1_name %> HP: <%= @player_1_HP %> <br>
  <%= @player_2_name %> HP: <%= @player_2_HP %>
</h1>
