<h1>
  <%= @game.player1.name %> vs <%= @game.player2.name %> <br>
</h1>
<h2>
  Let's battle!!! <br>
</h2>

<% if @game.turn == 'p1' %>
  <h4> <%= @game.player1.name %>! Your turn! </h4>
<% else %>
  <h4> <%= @game.player2.name %>! Your turn! </h4>
<% end %>

<%= @game.player1.name %> HP: <%= @game.player1.hp %> <br>
<% if @game.turn == 'p1' %>
<form action='/attack' method='post'>
  <button id='first' type='submit'  value='<%= @game.player1.name %>' name='attack'>Attack</button> <br>
</form>
<% end %>

<%= @game.player2.name %>  HP: <%= @game.player2.hp %> <br>
<% if @game.turn == 'p2' %>
<form action='/attack' method='post'>
  <button id='second' type='submit' value='<%= @game.player2.name %>' name='attack'>Attack</button> <br>
</form>
<% end %>

<% if !!@message %>
  <p><%= @message %></p>
<% end %>

<% if !!@game_over_message %>
  <p><%= @game_over_message %></p>
<% end %>
