<h1>
  <%= @player_1_name %> vs <%= @player_2_name %> <br>
</h1>
<h2>
  Let's battle!!! <br>
</h2>

<%= @player_1_name %> HP: <%= @player_1_HP %> <br>
<form action='/attack1' method='post'>
  <button type='submit' value='Attack P1'>Attack P1</button> <br>
</form>

<%= @player_2_name %>  HP: <%= @player_2_HP %> <br>
<form action='/attack2' method='post'>
  <button type='submit' value='Attack P2'>Attack P2</button> <br>
</form>

<% if !!@message %>
  <p><%= @message %></p>
<% end %>
