<h1>
  <%= @game.player1.name %> vs <%= @game.player2.name %> <br>
</h1>
<h2>
  Let's battle!!! <br>
</h2>

<%= @game.player1.name %> HP: <%= @game.player1.hp %> <br>
<form action='/attack' method='post'>
  <button id='first' type='submit'  value='<%= @game.player1.name %>' name='attack'>Attack</button> <br>
</form>

<%= @game.player2.name %>  HP: <%= @game.player2.hp %> <br>
<form action='/attack' method='post'>
  <button id='second' type='submit' value='<%= @game.player2.name %>' name='attack'>Attack</button> <br>
</form>

<% if !!@message %>
  <p><%= @message %></p>
<% end %>
